.reactgrid {
  &.disabled {
    .reactgrid-content {
      background-color: #f2f2f2;
      .rg-pane {
        &.rg-pane-left,
        &.rg-pane-right {
          .rg-cell {
            background-color: #f2f2f2;
          }
        }
      }
    }
  }
  .reactgrid-content {
    .rg-pane .rg-cell {
      .show {
        .fade {
          opacity: 0;
          transition: all 0.3s;
        }
        &:hover {
          .fade {
            opacity: 1;
          }
        }
      }

      &.rg-header-custom-cell {
        font-weight: 600;
      }
      &.rg-text-custom-cell.placeholder {
        color: #999;
        font-size: 0.8em;
      }
      &.rg-button-cell {
        padding: 0;
        .button-box {
          width: 100%;
          height: 100%;
          border: none;
          background: transparent;
        }
      }
    }
  }
}
